@font-face {
    font-family: 'open-sans-bold';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'open-sans-semibold';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'open-sans-medium';
    src: url('../fonts/OpenSans-Medium.woff') format('woff'),
    url('../fonts/OpenSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.woff2') format('woff2');
}
