@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open-sans-regular';
    font-size: 1rem;
    line-height: 1.5;
}

header {
    display: none;
}

aside {
    font-family: 'open-sans-bold';
    width: 20rem;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #0f0f0f;
    color: #FFF;
    float: left;
    padding: 6rem 3rem;
}

aside h1 {
    margin-bottom: 3rem;
}

main {
    width: calc(100% - 20rem);
    float: right;
    padding: 6rem .5rem 3rem;
}

.aside-title {
    font-size: 2rem;
    padding-left: 0.7rem;
    margin-bottom: 4.5rem;
}

.aside-title:hover {
    opacity: .8;
}

.aside-link {
    text-decoration: none;
    color: #fff !important;
    opacity: 1;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

aside ul li a {
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
}

aside ul li a:hover {
    background-color: #fff;
    color: #0f0f0f;
}

section {
    min-height: 6rem;
    margin-bottom: 3rem;
}


main h1 {
    font-size: 2rem;
}

h2 {
    font-family: 'open-sans-semibold';
    font-size: 1.5rem;
    color: rebeccapurple;
    padding: 0;
    margin: 1rem 0;
}

p {
    text-align: justify;
    color: #222;
}

hr {
    width: 3rem;
    border: .25rem solid rebeccapurple;
    border-radius: 0.4rem;
    margin-bottom: 0.7rem;
    float: left;
}

.clear {
    clear: both;
}

main ul {
    margin-left: -1rem;
    list-style-type: square;
}

.gallery {
    float: left;
    width: 50%;
    margin-bottom: 1.5rem;
}

.gallery img {
    width: 100%;
    opacity: 0.8;
    border: .2rem solid #ccc;
    padding: 0.6rem;
    background-color: #f5f5f5;
    max-width: 500px;
    min-height: 350px;
    max-height: 350px !important;
}

.gallery img:hover {
    opacity: 1;
}

label {
    display: block;
    margin-bottom: .7rem;
    margin-top: .25rem;
}

input {
    border: .1rem solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

textarea {
    border: 0.1rem solid #ccc;
    width: 100%;
    height: 6rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

button {
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.1rem;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    font-size: 1rem;
    color: #333;
    background-color: #e9e9e9;
    padding: 1rem 1.5rem;
}

footer p {
    display: flex;
    justify-content: center;
}

footer a {
    color: #333;
}

footer span {
    color: rebeccapurple;
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        display: block;
        padding-right: 1.5rem;
        position: fixed;
        width: 100%;
        right: 0;
        top: 0;
        text-align: right;
    }

    header a {
        color: #900;
        font-size: 2rem;
        text-decoration: none;
    }

    aside {
        display: block;
        position: fixed;
        top: 0;
        left: -20rem;
        width: 20rem;
        height: 100%;
        padding: 6rem 3rem;
        background-color: #0f0f0f;
        color: #FFF;
        z-index: 999;
        transition: left 0.3s ease-in-out;
    }

    aside.active {
        left: 0;
    }

    .menu-btn {
        margin-top: 2rem;
        position: fixed;
        right: 0;
        width: 3rem;
        height: 2.3rem;
        cursor: pointer;
        margin-right: 1rem;
        transition: all 0.5s ease-in-out;
    }

    .menu-btn__burger {
        width: 3rem;
        height: 5px;
        background: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .menu-btn__burger:before,
    .menu-btn__burger:after {
        content: "";
        position: absolute;
        right: 0;
        width: 3rem;
        height: 5px;
        background: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .menu-btn__burger:before {
        transform: translateY(-16px);
    }

    .menu-btn__burger:after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .gallery img {
        width: 100%;
        opacity: 0.8;
        border: .2rem solid #ccc;
        padding: 0.6rem;
        background-color: #f5f5f5;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px !important;
    }


    main {
        width: 100%;
    }

    footer p {
        display: flex;
        justify-content: center;
    }
}